a.imageInList {
    display: inline-block;
    border: 0.2em
    #DDD solid;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
}

a.imageInList:hover {
    background: #FFD;
}

a.imageInList img {
    width: 8em;
    display: block;
}
