#img {
    float: left;
    margin-right: 1em;
}

#fileInput {
    width: 100ex;
}

a {
    cursor: pointer;
}

#logger {
    border: 0.2em #DDD solid;
    overflow-y: scroll;
}

.circle {
    border: 4px rgba(255, 255, 255, 0.6) solid;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 7px;
    z-index: 3;
}

.circle:after {
    content: "";
    display: block;
    position: relative;
    left: -3px;
    top: -3px;
    width: 10px;
    height: 10px;
    border: 2px green solid;
    border-radius: 6px;
}

#imgCloserWrapper {
    width: 100%;
    height: 100%;
}

#imgWrapper,
#imgCloserWrapper,
#microscopeShot,
#canvas {
    position:absolute;
    left: 0;
    top: 0;
}

#imgWrapper {
    overflow: scroll;
    right: 20em;
    bottom: 0;
}

#microscopeShot,
#dimLayer {
    pointer-events: none;
}

#canvas {
    border: 1px red solid;
}

#sidepanel {
    width: 20em;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#importExportShowButton {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    cursor: auto;
}

#importExportWindow.closed {
    display: none;
}

#importExportWindow.open {
    display: block;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 50px;
    background: white;
    z-index: 5;
    padding: 30px;
    border: 3px black solid;
}

#importExportWindow .close{
    position: absolute;
    right: 20px;
    top: 20px;
    font-family: sans-serif;
    display: block;
    border: 2px black solid;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    border-radius: 20px;
}

#submitButton {
    padding: 10px;
    margin: 0 5px 5px;
}

#colors a {
    /*display: inline-block;*/
    display: none;
    width: 1.5em;
    height: 1.5em;
    border: 0.1em white solid;
    border-radius: 0.85em;
    margin: 0.2em;
}

#colors a.active {
    border-color: #AAA;
    border-style: ridge;
}

#colors a:hover {
    border-color: black;
}

#dimLayer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #CCC;
    opacity: 0;
}

li.circleLog {
    display: block;
    list-style: none;
    border: 0.2em #EEE solid;
    border-radius: 0.2em;
    margin: 0.3em;
    padding: 0.2em;
}

.deleteButton {
    background: #DDD;
    border: #EEE 2px outset;
    margin: 0.1em 1em 0.1em 0.1em;
    padding: 0.2em;
    display: inline-block;
}
