<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="style/main.css" />
        <script type="text/javascript" src="bundle.js"></script>
        <title>Protein marker</title>
    </head>
    <body>
        <div id="imgWrapper">
            <div id="imgCloserWrapper">
                <img id="microscopeShot" src="img/<%= imgSrc %>"/>
                <div id="dimLayer">
            </div>
<!--            <canvas id="canvas"></canvas>-->
        </div>
        </div>
        <div id="sidepanel">
            <a id="importExportShowButton"></a>
            <div id="handling">
                <p><b>Usage:</b></p>
                <ul>
                    <li>scroll wheel: zoom in</li>
                    <li>left click: mark a protein</li>
                    <li>left click + mouse move: move the image</li>
                </ul>
            </div>
            <div id="colors">
            </div>
            <div id="dimControls">
                <label for="dimmer">Image visibility</label>
                <input type="range" name="dimmer" id="dimRange" min="0" max="10" value="10" />
            </div>
            <ul id="logger">
            </ul>
            <input type="submit" value="Save & close" id="submitButton" />
        </div>
        <div id="importExportWindow" class="closed">
            <a class="close" id="importExportCloseButton">X</a>
            <h2>Import/Export</h2>
            <p><label for="import-inputfile">Import file</label><input type="file" name="import-inputfile" id="import-inputfile"></p>
            <p><a id="export-button">Export</a></p>
        </div>
    </body>
</html>
